# Remember to keep Amazons packages in mind when messing with requirements!
#   supported packages can be checked with `yum info sqlite`
# To upgrade Django must first containerize local db to postgres instead of sqlite
#    amazon doesn't support a high enough version of sqlite
django~=2.0.0
django-s3-storage~=0.12.4
wagtail~=2.1.0
pyyaml~=3.12.0
zappa~=0.48.2
psycopg2~=2.7.0
